@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

body {
    @apply bg-veryDarkBlue;
    background-image: url("./assets/images/bg-stars.svg");
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    background-color: transparent;
    border: 2px solid #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-top-color:#134e4a ;
    animation: spin 0.5s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}